@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

.form-control, .form-select  {
    background-color: rgb(177, 255, 194);
    border: none;
    box-shadow: none;
    font-weight: 600;
}

.form-control:focus, .form-select:focus {
    background-color: rgba(97, 207, 53, 0.815);
    border: none;
    box-shadow: none;
}

.form-label {
    color: black;
    font-family: 'Space Mono', monospace;
}

form {
    width: 50%;
}

.col {
    margin: auto;
}

.btn, .btn:hover, .btn-primary::after {
    border: none;
    background-color: green;
    color: white;
}

canvas {
    border-radius: 10px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.stop-button, .stop-button:hover {
    background-color: red;
}

.import-button, .import-button:hover {
    background-color: rgb(116, 162, 231);
}